#div1{
<<<<<<< HEAD

=======
>>>>>>> origin/master
	width: 150px;
	height: 75px;
	display: block;
	background-color: blue;
	text-align:center;

}

#div2{
	width: 150px;
	height: 400px;
	display: block;
	background-color: red;
}

#div3{
	width: 150px;
	height: 100px;
	display: block;
	background-color: blue;
}

#left{
	height:90px;
	width:130px;
}

<<<<<<< HEAD

border-style:{ solid;
	height:650px;
	width:1340px
	
}
	;
=======
>>>>>>> origin/master
