#div1{
<<<<<<< HEAD
	width: 150px;
	height: 70px;
	display: block;
	background-color: blue;
	text-align:center;

}

#div2{
	width: 150px;
	height: 400px;
	display: block;
	background-color: red;
}

#div3{
	width: 150px;
	height: 100px;
	display: block;
	background-color: blue;
}

#left{
	height: 90px;
	width: 130px;
}
=======
border-style: solid;
	height:650px;
	width:1340px
	
}
	;
